# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/node_modules
/app/assets/javascripts/bundle.js

/config/application.yml

/byebug_history
/.DS_store

.bundle.js