<h2>Sign Up</h2>

<form action=" <%= users_url %>" method="post">

  <!--  TODO: Add auth token -->

  <input type="hidden" name="authenticity_token" value="">
  <label>
    <input type="text" name="user[username]" value="">
  </label>
  <input type="password" name="name" value="">
  <button>Submit</button>
</form>
