/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSS RESET */
html, body, div, form, input, label, br, h3, h1, a, strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit;

  background-color: transparent;
}



/* CLEAR FIX */

.group:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif, Lato, Roboto;
}

body {
  width: 100%;
}

header {
  margin: auto;
  background: image-url('banner.jpg');
}

input {
  border: 1px solid #ccc;
  background-color: white;
}

input::-webkit-input-placeholder {
  color: #666666;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.hidden {
  display: none;
}

.site-header {
  width: 100%;
  margin-bottom: 15px;
}

.header-upper {
  border-bottom: 1px solid #ccc;
  font-family: Lato;
}

.header-nav {
  width: 965px;
  margin: auto;
  position: relative;
}

.header-nav-logo {
  float: left;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: -1.75px;
  font-size: 44px;
  padding: 5px;
  color: #463020;
}

.header-nav form {
  margin: 20px 0;
  float: right;
}

.header-nav form button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10%;
  display: inline;
  padding: 5px 10px 6px 10px;
  font-size: 14px;
  font-family: Lato;
  margin: 0 3px;
}

.header-nav form button:hover {
  background-color: #463020;
}

.header-nav form input {
  float: left;
  width: 120px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5%;
  font-weight: lighter;
  color: black;
  margin: 0 3px;
}
.demo-form {

}
.new-session-form {

}


.header-nav-logo strong, .header-nav-logo-small strong {
  font-weight: 300;
  font-family: Roboto;
}

.header-lower {
  width: 965px;
  height: 295px;
  margin: auto;
  padding-right: 30px;
  position: relative;
}
.new-user-form-pane {
  float: right;
  padding-top: 10px;
  text-align: left;
}

.new-user-form-pane > h2 {
  font-size: 17px;
  font-weight: lighter;
  color: #eee;
  margin-bottom: 8px;
}

.new-user-form input {
  height: 19px;
  width: 270px;
  border: 1px solid #DCD6CC;
  padding: 7px 5px;
  font-size: 16px;
  color: black;
  margin-bottom: 4px;
  border-radius: 5%;
}

.new-user-form input::-webkit-input-placeholder {
  color: #76768f;
}

.new-user-form button {
  background-color: #fdd05f;
  color: black;
  border: none;
  padding: 8px 14px;
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
}


.catchphrase {
  float: left;
  margin: 50px 0 0 100px;
}

.catchphrase h1 {
  font-size: 56px;
  color: #815845;
  text-shadow: 1px 1px 1px #000;
  text-rendering: geometricPrecision;
  vertical-align: middle;
  text-align: center;
}

.o-auth {
  color: white;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 270px;
  font-family: Lato;
  font-size: 12px;
  text-align: center;
}

.o-auth span i {
  font-size: 20px;
  margin: 6px;
}

/* BODY */


.content {
  width: 100%;
  background-color: #ffffff;
}

.landing-page-content {
  width: 965px;
  margin: 0 auto;
  color: black;
  font-family: Lato;
}

.landing-page-intro {
  width: 635px;
}

.landing-page-selling-point:first-child {
  float: left;
  width: 290px;
  margin: 0 30px 10px 0;
}

.landing-page-selling-point:last-child {
  float: right;
  width: 280px;
  margin: 0 10px 10px 0;
}

.landing-page-selling-point {

}

.landing-page-selling-point > h3 {
  font-size: 18px;
}
.landing-page-selling-point > p {
  font-size: 12px;
}

.discover {
  background-color: #f4f2e9;
  width: 635px;
  border-radius: 8px;
  padding: 15px 10px;
}

.landing-page-course-index {
  float: left;
  padding-left: 0px;
}

.landing-page-course-index-item {
  margin: 9px;
  float: left;
  text-align: center;
  width: 138px;
  height: 150px
}

.landing-page-course-index-item a p {
  padding: 0 2px 0 4px;
  font-size: 11px;
  margin: 0;
}
.landing-page-course-index-item a p:hover {
  text-decoration: underline;
}
/* LOGGED IN STYLE */

.logged-in-header {
  background: image-url('booksbanner.jpg')
}

.site-search {
  float: left;
  margin: 17px 5px;
  width: 155px;
  height: 13px;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
}

.logged-in-nav {
  padding-top: 40px;
  margin-bottom: 10px;
}

.header-nav-logo-small {
  float: left;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: -1.75px;
  font-size: 34px;
  padding: 5px;
  color: #463020;
}


.logged-in-site-nav {
  float: left;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 13px;
}

.logged-in-site-nav > li {
  float: left;
  padding: 6px;
}

.logged-in-site-nav > li > a {
  font-size: 12px;
  font-weight: bold;
}

.logged-in-site-nav > li > a:hover {
  text-decoration: underline;
}

.logged-in-site-nav > li:last-child {
  padding-top: 8px;
}

.user-nav-buttons {
  float: right;
  margin: 20px 0 12px 0;
}

.user-nav-buttons span {
  padding: 0px 4px 2px 5px;
  float: left;
}

.user-nav-buttons a {
  float: left;
  margin-left: 4px;
}

.fa-envelope, .fa-users, .fa-user {
  color: #DFD8C6;
}

.user-nav .fa-user {
  font-size: x-large;
}

.user-nav span {

}

.dropDownOpener {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #DFD8C6;
  border-radius: 4px;
  text-align: center;
  color: #666666;
}

.badge {
  padding: 1px 6px;
  border-radius: 50%;
  background-color: #DFD8C6;
  color: white;
  position: relative;
}
// User list + items //

.users-pane {
  width: 960px;
  margin: auto;
  font-family: Merriweather;
}

.users-title {
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
  font-size: 20px;
  color: #382110;
}

.users-pane-left {
  width: 625px;
  float: left;
  padding-right: 10px;
}

.users-pane-right {
  width: 305;
  float: right;
}

.users-list {
  margin-top: 5px;
}

.user-index-item {
  float: left;
  border-bottom: 1px solid #ccc;
  width: 625px;
  padding: 8px 0 20px 0;
  margin: 0 10px;
}

.user-index-item p {
  font-size: 10px;
  margin: 5px 0 0 10px;
  float: left;
}

.user-img {
  width: 50px;
  float: left;
  margin-bottom: 10px;
  box-shadow: 1px 6px 8px #888888;
}

.user-index-item-name {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
  display: block;
  color: #00635d;
}

.user-name-container {
  margin: 0 10px;
}

.user-index-item-name:hover {
  text-decoration: underline;
}


/* User Show */
.user-show-content {
  width: 965px;
  margin: auto;
  font-family: Merriweather;
}

.user-info {
  width: 625px;
}

.user-info-left {
  float: left;
  width: 140px;
}

.user-avatar {
  width: 140px;
  float: left;
}

.user-info-right {
  float: right;
  padding: 5px;
}

.user-info-details {
  width: 460px;
  border-bottom: 1px solid #ccc;
  color: #382110;
  float: left;
}

.user-info-details > h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.user-review-stats > p {
  color: #00635d;
  font-size: 10px;
  margin: 3px 0 3px 0;
}

.user-show-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.edit-button {
  display: inline;
  font-size: 10px;
  color: #00635d;
}

.avg-rating {
  display: inline;
}


// COURSE SHOW

.course-show-body {
  width: 965px;
  margin: auto;
  font-family: Merriweather;
}

.course-show-left {
  width: 625px;
}

.course-img-col {
  width: 140px;
  float: left
}

.course-img {
  width: 140px;
  margin-bottom: 8px;
  box-shadow: 1px 6px 8px #888888;
}

.course-info-col {
  width: 465px;
  float: left;
  padding: 0 10px;
  font-size: 14px;
}

.course-title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.course-provider-name > a {
  font-size: 14px;
}

.course-provider-name {
  display: inline;
  font-size: 14px;
}

.rating-stats a {
  font-size: 11px;
}

//  Star Ratings

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: #fa604a;
}

// Course Suggestions

.course-suggestions {
  width: 965px;
  margin: auto;
  font-family: Merriweather;
}

.course-suggestions-left {
  width: 605px;
  float: left;
  padding: 0 10px;
}

.suggestions-header {
  border-bottom: 1px solid #ccc;
  width: 605px;
}

.suggestions-header > a {
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

.course-suggestions-index {
  float: left;
  padding-left: 0px;
}

.suggestion {
  width: 590px;
  float: left;
  height: 120px;
}

.suggestion-img {
  width: 100px;
}

.suggestion-info {
  float: left;
  width: 470px;
  padding: 0 10px 5px 10px;;
}

.suggestion-info > h2 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.suggestion-info > h3 {
  margin: 0 0 5px 0;
  font-size: 12px;
}

.suggestion-info > p {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.nav-dropdown {
  position: absolute;
  top: 80px;
  left: 650px;
  background-color: white;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

.nav-dropdown a {
  display: block;
  font-size: 13px;
  font-family: Merriweather;
  margin: 4px;
}

.nav-dropdown a:hover {
  text-decoration: underline;
}

.user-dropdown {
  position: absolute;
  top: 80px;
  left: 900px;
  background-color: white;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

.user-dropdown a {
  display: block;
  font-size: 13px;
  font-family: Merriweather;
  margin: 4px;
}

.user-dropdown a:hover {
  text-decoration: underline;
}

dot {
  padding: 3px;
}























//
