/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS RESET */
html, body, div, form, input, label, br, h3, h1, a, strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit;

  background-color: transparent;
}

/* CLEAR FIX */

.group:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif, Lato, Roboto;
}

body {
  width: 100%;
}

header {
  width: 965px;
  margin: auto;
}

input {
  border: 1px solid #ccc;
}

input::-webkit-input-placeholder {
  color: #666666;
}

ul {
  list-style: none;
}

.header-nav {
  border-bottom: 1px solid #ccc;
  font-family: Lato;
}

.header-nav-logo {
  float: left;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: -1.75px;
  font-size: 44px;
  padding: 5px;
}

.header-nav form {
  margin: 20px 0;
  float: right;
}

.header-nav form button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10%;
  display: inline;
  padding: 5px 10px 6px 10px;
  font-size: 14px;
  font-family: Lato;
  margin: 0 3px;
}

.header-nav form button:hover {
  background-color: #58371F;
}

.header-nav form input {
  float: left;
  width: 120px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5%;
  font-weight: lighter;
  color: black;
  margin: 0 3px;
}

.demo-form {

}

.new-session-form {

}


.header-nav-logo strong {
  font-weight: 300;
  font-family: Roboto;
}
