/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSS RESET */
html, body, div, form, input, label, br, h3, h1, a, strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit;

  background-color: transparent;
}



/* CLEAR FIX */

.group:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif, Lato, Roboto;
}

body {
  width: 100%;
}

header {
  margin: auto;
  background: url('banner.jpg')
}

input {
  border: 1px solid #ccc;
  background-color: white;
}

input::-webkit-input-placeholder {
  color: #666666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.site-header {
  width: 100%;
  margin-bottom: 15px;
}

.header-upper {
  border-bottom: 1px solid #ccc;
  font-family: Lato;
}

.header-nav {
  width: 965px;
  margin: auto;
}

.header-nav-logo {
  float: left;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: -1.75px;
  font-size: 44px;
  padding: 5px;
  color: #463020;
}

.header-nav form {
  margin: 20px 0;
  float: right;
}

.header-nav form button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10%;
  display: inline;
  padding: 5px 10px 6px 10px;
  font-size: 14px;
  font-family: Lato;
  margin: 0 3px;
}

.header-nav form button:hover {
  background-color: #463020;
}

.header-nav form input {
  float: left;
  width: 120px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5%;
  font-weight: lighter;
  color: black;
  margin: 0 3px;
}
.demo-form {

}
.new-session-form {

}


.header-nav-logo strong {
  font-weight: 300;
  font-family: Roboto;
}
.header-lower {
  width: 965px;
  height: 295px;
  margin: auto;
  padding-right: 30px;
  position: relative;
}
.new-user-form-pane {
  float: right;
  padding-top: 10px;
  text-align: left;
}

.new-user-form-pane > h2 {
  font-size: 17px;
  font-weight: lighter;
  color: #eee;
  margin-bottom: 8px;
}

.new-user-form input {
  height: 19px;
  width: 270px;
  border: 1px solid #DCD6CC;
  padding: 7px 5px;
  font-size: 16px;
  color: black;
  margin-bottom: 4px;
  border-radius: 5%;
}

.new-user-form input::-webkit-input-placeholder {
  color: #76768f;
}

.new-user-form button {
  background-color: #fdd05f;
  color: black;
  border: none;
  padding: 8px 14px;
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
}


.catchphrase {
  float: left;
  margin: 50px 0 0 100px;
}

.catchphrase h1 {
  font-size: 56px;
  color: #815845;
  text-shadow: 1px 1px 1px #000;
  text-rendering: geometricPrecision;
  vertical-align: middle;
  text-align: center;
}

.o-auth {
  color: white;
  background-color: #333333;
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 270px;
  font-family: Lato;
  font-size: 12px;
  text-align: center;
}

.o-auth span i {
  font-size: 20px;
  margin: 6px;
}

/* BODY */


.content {
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
}

.landing-page-content {
  width: 965px;
  margin: 0 auto;
  color: black;
  font-family: Lato;
}

.landing-page-intro {
  width: 635px;
}
.landing-page-selling-point:first-child {
  float: left;
  width: 290px;
  margin: 0 30px 10px 0;
}

.landing-page-selling-point:last-child {
  float: right;
  width: 280px;
  margin: 0 10px 10px 0;
}

.landing-page-selling-point {

}

.landing-page-selling-point > h3 {
  font-size: 18px;
}
.landing-page-selling-point > p {
  font-size: 13px;
}

.discover {
  background-color: #f4f2e9;
  width: 635px;
  border-radius: 8px;
  padding: 15px 10px;
}

.landing-page-course-index {
  float: left;
  padding-left: 0px;
}

.index-link {
  width: 100px;
  margin: 10px;
  float: left;
}
